@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

* {
  /* scrollbar-width: thin;
  scrollbar-color: var(--line-color) transparent; */

  box-sizing: border-box;
}

.max1Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.max2Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max3Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.max4Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.max5Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.max6Lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* Style the opening quotation mark */
q::before {
  content: "\201C"; /* Unicode character for left double quotation mark */
  font-size: 1.5em; /* Adjust the font size as needed */
  position: absolute;
  left: 0.25em; /* Adjust the position as needed */
}

/* Style the closing quotation mark */
/* 
  q::after {
    content: "\201D";
    font-size: 1.5em;
    position: absolute;
    right: -0.2em;
  } 
*/

/* Start of Project Page */
.profile-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "a b c d"
    "e e c d"
    "e e f f"
    "e e f f";
}
.a {
  grid-area: a;
  height: 125px;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.f {
  grid-area: f;
}
.e {
  grid-area: e;
}

@media screen and (max-width: 768px) {
  .profile-hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-template-areas:
      "a b"
      "c c"
      "d e"
      "f f";
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .f {
    grid-area: f;
  }
  .e {
    grid-area: e;
  }
}

@media screen and (max-width: 640px) {
  .profile-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .f {
    grid-area: f;
  }
  .e {
    grid-area: e;
  }
}

/* End of Project Page */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  aspect-ratio: 16 / 8;

  display: flex;
  justify-content: center;
  align-items: center;
}
