@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

/* Start of Project Page */
.profile-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "a b c d"
    "e e c d"
    "e e f f"
    "e e f f";
}
.a {
  grid-area: a;
  height: 150px;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.f {
  grid-area: f;
}
.e {
  grid-area: e;
}

@media screen and (max-width: 768px) {
  .profile-hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-template-areas:
      "a b"
      "c c"
      "d e"
      "f f";
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .f {
    grid-area: f;
  }
  .e {
    grid-area: e;
  }
}

@media screen and (max-width: 640px) {
  .profile-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .f {
    grid-area: f;
  }
  .e {
    grid-area: e;
  }
}

/* End of Project Page */
